<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8">
    <title>Website Projects</title>
  </head>
  <body>
    <h1>This is the Projects Page of the Website</h1>
    <p>{{welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>
